.backgroundBox {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.background {
  background-color: #C1F4C5;
  border: 1px solid #65C18C;
  padding: 50px;
  border-radius: 10px;
  width: 350px;
  height: 150px;
  position: relative;
}

.alertTitle {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #65C18C;
  width: 100%;
}

.alertTitle h3 {
  margin-left: 10px;
}

.alertDescription {
  margin-top: 20px;
}
